@*  Ovo je komentar
    Svojstvo Layout definira li ce se stranica ucitati unutar neke masterpage stranice
    @html.ActionLink() je html hlper.
    Pomocu njega lakse pisemo html kod*@

@*
    @{
        Layout = null;
    }
*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Title</h2>
        <p>
            Ovo je baza svih studenata veleučilišta.
        </p>
        <p>
            Odaberite link:
        </p>
        <ul>
            <li>@Html.ActionLink("Popis studenata", "Popis", "Student")</li>
        </ul>
    </div>
</body>
</html>